
@import '/resources/sass/partials/vars';
@import '/resources/sass/partials/utilities';
@import '/resources/sass/partials/header';
@import '/resources/sass/partials/footer';
@import '/resources/sass/partials/comics';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    overflow: auto;
    background-color: $bg-alt;
}



