.text-center {
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.main-header {
  background: #fff;
  height: 100px;
}
.main-header .brand {
  padding: 0.3rem;
  margin-right: 50px;
}
.main-header .brand img {
  width: 80px;
}
.main-header .brand a {
  height: 100%;
  width: 100%;
  display: block;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: inherit;
}
.main-header nav ul {
  list-style: none;
}
.main-header nav ul li {
  list-style: none;
  text-transform: uppercase;
  margin: 0 1rem;
}
.main-header nav ul li a {
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.main-header nav ul li a.active {
  color: #0b7be9;
  border-bottom: 3px solid #0b7be9;
}
.main-header nav ul li a:hover {
  color: #0b7be9;
  border-bottom: 3px solid #0b7be9;
}

.main-footer {
  background: #303030;
  padding: 2rem 0;
}
.main-footer .sign-up {
  border: 3px solid #0b7be9;
  color: #fff;
  font-size: 1.2rem;
  background: transparent;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.main-footer .social h3 {
  color: #0b7be9;
  margin-right: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.main-footer .social .social-icons {
  list-style: none;
}
.main-footer .social .social-icons li {
  margin-right: 1rem;
}

.gallery {
  flex-wrap: wrap;
  color: #fff;
}
.gallery .card {
  width: 16.6666666667%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.gallery .card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.gallery .card h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.8rem;
}
.gallery .card .card-img {
  height: 170px;
}
.gallery .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.gallery .load-more {
  text-transform: uppercase;
  color: #fff;
  background: #0b7be9;
  border: 0;
  padding: 0.5rem 2rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.bar {
  background: #0b7be9;
  padding: 0.8rem;
}