
//BACKGROUNDS
$bg-white: #fff;
$bg-main: #1c1c1c;
$bg-alt: #303030;
$bg-buy-bar: #55ba59;


//TEXTS
$txt-prim: black;
$txt-alt: #fff;
$txt-sec: #0b7be9;
$txt-buy-bar: #a6ee80;
$txt-detail-title: #104160;